<div>
    <ul class="pagination " *ngIf="paginas?.length>0">
        <li class="page-item" *ngIf="!paginator.first">
            <a [routerLink]="[paginator.link,paginator.number-1]" class="page-link bg-dark text-white">&laquo;</a>
        </li>
        <li class="page-item">
            <a [routerLink]="[paginator.link,0]" class="page-link bg-dark text-white"
                *ngIf="!paginator.first;else first">Primera</a>
            <ng-template #first>
                <span style="cursor: not-allowed;background-color: black;"
                    class="page-link disabled text-white">Primera</span>
            </ng-template>
        </li>
        <li class="page-item" *ngFor="let pagina of paginas">
            <a *ngIf="paginator.number!=pagina-1;else current" class="page-link bg-dark text-white"
                [routerLink]="[paginator.link,pagina-1]">{{pagina}}</a>
            <ng-template #current>
                <span style="cursor: not-allowed;background-color: black;"
                    class="page-link active text-white">{{pagina}}</span>
            </ng-template>
        </li>
        <li class="page-item">
            <a [routerLink]="[paginator.link,paginator.totalPages-1]" class="page-link bg-dark text-white"
                *ngIf="!paginator.last;else last">Ultima</a>
            <ng-template #last>
                <span style="cursor: not-allowed;background-color: black;"
                    class="page-link disabled text-white">Ultima</span>
            </ng-template>
        </li>
        <li class="page-item" *ngIf="!paginator.last">
            <a [routerLink]="[paginator.link,paginator.number+1]" class="page-link bg-dark text-white">&raquo;</a>
        </li>
    </ul>
</div>