<div *ngIf="modalService.open" class="abrir-modal animacion fadeIn">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle del cliente</h5>
                    <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <ul *ngIf="cliente" class="list-group mb-3">
                                    <li class="list-group-item bg-dark">{{cliente.nombre}}</li>
                                    <li class="list-group-item bg-dark">{{cliente.apellido}}</li>
                                    <li class="list-group-item bg-dark">{{cliente.email}}</li>
                                    <li class="list-group-item bg-dark">{{cliente.createdAt |date: "fullDate"}}</li>
                                    <li class="list-group-item bg-dark">{{cliente.region.nombre}}</li>
                                </ul>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input (change)="selectPhoto($event)" type="file" class="custom-file-input"
                                            id="inputGroupFile04">
                                        <label class="custom-file-label" for="inputGroupFile04">Seleccionar Foto</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button [disabled]="!this.photoSelected" (click)="uploadPhoto()"
                                            class="btn btn-outline-secondary" type="button">Subir
                                            Foto</button>
                                    </div>
                                </div>
                                <div *ngIf="progreso>0" class="progress" style="height: 40px;">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                        [ngStyle]="{width: progreso+'%'}" attr.aria-valuenow="{{progreso}}"
                                        atre.aria-valuemin="0" aria-valuemax="100">{{progreso}}%</div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <img *ngIf="cliente?.foto" src="{{FILE_ROUTE+cliente.foto}}" alt="{{cliente.foto}}"
                                    class="img-thumbnail rounded">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>