<div class="text-white bg-dark card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <form #clienteForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-12">
                    Nombre
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" required minlength="4"
                        name="nombre" #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty||nombre.touched)">
                        <div *ngIf="nombre.errors['required']">
                            El nombre es el requirido
                        </div>
                        <div *ngIf="nombre.errors['minlength']">
                            El nombre debe ser minimo a 4 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-12">
                    Apellido
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" required minlength="4"
                        name="apellido" #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty||apellido.touched)">
                        <div *ngIf="apellido.errors['required']">
                            El apellido es el requirido
                        </div>
                        <div *ngIf="apellido.errors['minlength']">
                            El apellido debe ser minimo a 4 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-12">
                    Email
                </label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="cliente.email" required name="email"
                        #email="ngModel" email>
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty||email.touched)">
                        <div *ngIf="email.errors['required']">
                            El email es el requirido
                        </div>
                        <div *ngIf="email.errors['email']">
                            El email debe ser minimo a 4 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="createdAt" class="col-form-label col-sm-12">
                    Fecha
                </label>
                <div class="col-sm-6">
                    <input name="createdAt" [(ngModel)]="cliente.createdAt" class="form-control"
                        [matDatepicker]="picker" style="display: inline-block; width: 85%;">
                    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="form-group row">
                <label for="region" class="col-form-label col-sm-12">
                    Región
                </label>
                <div class="col-sm-6">
                    <select [compareWith]="compararRegion" name="region" [(ngModel)]="cliente.region" class="form-control" style="width: 85%;">
                        <option [ngValue]="undefined">Seleccionar Región</option>
                        <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-6 ">
                    <button [disabled]="clienteForm.invalid" class="btn btn-primary btn-rounded" role="button"
                        (click)="create()" *ngIf="!cliente.id else updateBlock">Crear</button>
                </div>
                <ng-template #updateBlock>
                    <button [disabled]="clienteForm.invalid" class="btn btn-primary btn-rounded" role="button"
                        (click)="update()">Editar</button>
                </ng-template>
            </div>
        </form>
    </div>
</div>